# Use Docker service names, NOT localhost for host name

APP_ENV=
APP_PORT=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=


REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=


RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_MANAGEMENT_PORT=
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=

LOG_TARGETS=